
.gridGallery{
    width: 100%;
    height: 70vh;
    background-color: royalblue;
    // grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr ;
}
.gridImg1{
    grid-area: 1/1 / 2/2;
    // width:100%;
}
.gridImg2{
    grid-area: 2/1 / 2/3;
}
.gridImg3{
    grid-area: 3/1 / 2/4;
}
.gridImg4{
    grid-area: 4/1 / 2/5;
}
.gridImg5{
    grid-area: 5/1 / 2/6;
}
.gridImg6{
    grid-area: 1/2 / 3/2;
}
.gridImg7{
    grid-area: 2/2 / 3/3;
}
.gridImg8{
    grid-area: 3/2 / 3/4;
}
.gridImg9{
    grid-area: 4/2 / 3/5;
}
.gridImg10{
    grid-area: 5/2 / 3/6;
}