

body{
  margin: 0%;
  padding: 0%;
}
*{
  
  padding: 0%;
  box-sizing: border-box;}
html{
    box-sizing: border-box;
//     font-size: 62.5%; //10px/16pc = 62.5%  ==> 1rem = 10px
}
header{ 
    width: 100%;
    height: auto;
    // grid-column: full-start / col-end 6;
    background-image: url('../imgs/house.png');
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
    }
    // header:hover{
    //   color:#0D2843;
     
    // }
  //   header::before {    
  //     content: "";
  //     position: absolute;
  //     top: 0px;
  //     right: 0px;
  //     bottom: 0px;
  //     left: 0px;
  //     background-color: rgba(0,0,0,0.8);
     
  // }
  .container{
    width:80%;
   margin: 0% auto;
   display: flex;
   flex-direction: column;
   
  }
  .nav{
    width: 100%;
    
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
    }
    // .logo{
    //   width:10%;
    //   height:10%;
    //   display:inline;
    //   position: relative;
    //  }
    .logo{
      width:10%;
      // height: 10%;
    }
.menu{
  // display: inline;
  width:70%;
  display: flex;
    flex-direction: row;
    // justify-items: center;
    justify-content: space-between;
    list-style-type: none;
    // &__li{
    //   text-sty:  ;
    // }
    position: relative;
}
.presentation{
  width:70%;
  
}

