.first-title{
    font-size: 49px;
    text-align: center;
    position: relative;
    
  }
  .first-title:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: $maincolor;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
.pictures{
    display: flex;
    justify-content: space-around;
    // margin: 30px;
    img {
        width: 25%;
    }
}