$maincolor:#f9b90f;
$buttonColor:#4aa4ff;
$fontFam: 'Poppins', sans-serif;

// @import "base";
// @import "typography";
// @import "sidebar";
@import "header";
// @import "agent";
// @import "features";
@import "story";
// @import "homes";
// @import "gallery";
// @import "footer";