body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif; }

* {
  padding: 0%;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

header {
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/house.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white; }

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#03080D, #0D2843);
  opacity: 0.91; }

.container {
  width: 80%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.nav {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.logo {
  width: 10%; }

.menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  font-weight: 200; }

.presentation {
  width: 70%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center; }

.firstTitle {
  color: #f9b90f; }

P {
  text-align: center; }

.buttonClik {
  padding: 1% 6%;
  background-color: #4aa4ff;
  color: white; }

.top3 {
  width: 60%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center; }

.fa-crown {
  color: #f9b90f; }

.agents {
  width: 40%;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.agent {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #f9b90f; }

.fontName {
  font-weight: 400; }

.story {
  width: 100%;
  background-image: url("../imgs/dream.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  align-items: center;
  justify-content: space-between; }

.story::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#03080D, #0D2843);
  opacity: 0.91; }

.flexStory {
  width: 70%;
  height: 90%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.secondTitle {
  color: #0a84ff;
  font-style: oblique; }
