body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif; }

* {
  padding: 0%;
  box-sizing: border-box; }

html {
  box-sizing: border-box; }

header {
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/house.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white; }

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#03080D, #0D2843);
  opacity: 0.91; }

.container {
  width: 80%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }

.nav {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.logo {
  width: 10%; }

.menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  font-weight: 200; }

.presentation {
  width: 70%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center; }

.firstTitle {
  color: #f9b90f; }

P {
  text-align: center; }

.buttonClik {
  padding: 1% 6%;
  background-color: #4aa4ff;
  color: white; }

.top3 {
  width: 60%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center; }

.fa-crown {
  color: #f9b90f; }

.agents {
  width: 40%;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.agent {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #f9b90f; }

.fontName {
  font-weight: 400; }

.story {
  width: 100%;
  background-image: url("../imgs/dream.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  align-items: center;
  justify-content: space-between; }

.story::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#03080D, #0D2843);
  opacity: 0.91; }

.flexStory {
  width: 70%;
  height: 90%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center; }

.secondTitle {
  color: #0a84ff;
  font-style: oblique; }

.gridGallery {
  width: 100%;
  background-color: royalblue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 0%; }

.gridImg1 {
  grid-area: 1/1 / 2/2;
  width: 100%; }

.gridImg2 {
  grid-area: 1/2 / 2/3;
  width: 100%; }

.gridImg3 {
  grid-area: 1/3 / 2/4;
  width: 100%; }

.gridImg4 {
  grid-area: 1/4 / 2/5;
  width: 100%; }

.gridImg5 {
  grid-area: 1/5 / 2/6;
  width: 100%; }

.gridImg6 {
  grid-area: 2/1 / 3/2;
  width: 100%; }

.gridImg7 {
  grid-area: 2/2 / 3/3;
  width: 100%; }

.gridImg8 {
  grid-area: 2/3 / 3/4;
  width: 100%; }

.gridImg9 {
  grid-area: 2/4 / 3/5;
  width: 100%; }

.gridImg10 {
  grid-area: 2/5 / 3/6;
  width: 100%; }

footer {
  margin-top: 100px;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center; }

.bgcolor {
  background-color: #f4f4f4;
  width: 100%;
  flex: 2; }

.flexFooterUp {
  width: 80%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative; }

.modifyLogo {
  width: 50%;
  height: 100%; }

.flexinp {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 100%; }

.fa-envelope-open-text {
  color: #0a84ff;
  font-size: 1.9rem; }

.flexInput {
  height: 40%;
  width: 60%;
  border: none;
  border-radius: 2px; }

.buttonSubmit {
  background-color: #0a84ff;
  color: white;
  height: 40%;
  width: 20%;
  border: none;
  border-radius: 2px; }

.bgcolor2 {
  background-color: black;
  width: 100%;
  height: 25%;
  color: white;
  font-size: 15px;
  flex: 1; }

.flexFooterDown {
  width: 80%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: 12px; }

.flexMenu {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  position: relative; }

.containerContacte {
  margin-top: 100px;
  width: 80%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-content: center;
  align-items: center; }

.form {
  /* width:50%; */
  height: 50%; }

.flexInput1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-content: center;
  align-items: center; }

.flexo {
  /* width:50%; */
  height: 40%; }

.flexo1 {
  /* width:50%; */
  height: max-content; }

.button {
  background-color: #0a84ff;
  color: white;
  width: 50%;
  align-items: center;
  margin: 0% auto;
  border: none;
  border-radius: 2px;
  text-align: center; }

.text {
  width: 100%;
  weight: 400; }
